doctype html
html.no-js
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Faiza Malik • Barrister + Attorney
    link(rel="stylesheet" href="/style/style.css")
  body.home.page.page-id-44.page-template-default
    != partial("_nav")
    != yield
    script(src='js/script.js')
    script(src="https://use.typekit.net/ffh1skv.js")
    script.
      try{Typekit.load({ async: true });}catch(e){}
