header.fixed-header(style='top: 24px; left: 24px;')
  .logo-wrapper
    h1.logo
      span.s(style='font-family: "azote", sans-serif; color: #c38a22;') F
      span.m(style='font-family: "azote", sans-serif; color: #c38a22;') M
  nav.site-nav.overlay-panel.text-panel.special-scrollbar.special-scrollbar-dark(style='top: -24px; left: -24px;')
    .table-wrapper
      .table-cell-wrapper
        .height-wrapper
          ul#menu-nav-1-top.menu
            li FAIZA MALIK is a Barrister & Solicitor. She will be launching her boutique legal firm in May of 2017.
  .nav-preview
    .wrapper
  .header-tap-off-target
